.idea
*.pyc
__pycache__
weights
geomloss
flownet3d.pytorch
torchdiffeq
torchdiffeq_mine
torchdiffeq_prev
shapmagn/experiments/datasets/toy/shapes
shapmagn/experiments/datasets/lung/output
shapmagn/experiments/datasets/unpub_face
shapmagn/experiments/datasets/bellus_face
shapmagn/experiments/datasets/dhface
shapmagn/experiments/datasets/scanner
shapmagn/experiments/datasets/framefit_*
shapmagn/experiments/datasets/fdome
#shapmagn/experiments/datasets/flying3d_and_kitti/calib_cam_to_cam
shapmagn/demos/data/lung_data/lung_vessel_demo_data
shapmagn/demos/output
TEASER-plusplus
probreg
shapmagn/debugging
shapmagn/debug
/shapmagn/experiments/settings
*.npy
*.ply
*.jpg
*.obj